{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "extract-hoc/babel",
    "decompose",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  }
}
